<% if comments.present? %>
  <ul>
    <% comments.each do |comment| %>
      <li>
        <small>
          <%= render :partial => 'shared/posting_metadata', :locals => { :posting => comment } %>
          <%= link_to 'Show', comment_path(comment) %>
        </small>
        <br>
        <%= comment.body %>
        <%= render :partial => 'comments/list', :locals => { :comments => comment.comments } %>
      </li>
    <% end %>
  </ul>
<% end %>
